.passwords {
    background-image: url("/images/Free-vector-golden-particles-bokeh-decorative-background-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(54, 54, 54);
    height: 92vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: monospace;
    font-size: .9rem;
}

.pw-inputField {
    width: 32rem;
    height: 32rem;
    background-color: rgb(75,75,85);
    padding: 1rem;
    border: solid 2px rgb(97, 97, 97);
    border-radius: 4px;
    margin-top: 3rem;
}

#pw-starter {
    width: 100%;
    height: 100%;
    padding: 0 0 1rem 0;
    font-weight: bold;
    display: block;
    border-radius: 4px;
}

.pw-colorField-1 {
    background-color: rgb(75,75,85);
    padding: .4rem 1rem 1rem 0;
    text-align: center;
}

.pw-colorField-2 {
    background-color: rgb(60,60,68);
    padding: 1rem 0 1rem 1rem;
    border-radius: 4px 4px 0 0;
    border: solid 1px rgb(97, 97, 97);
}

.pw-colorField-3 {
    margin-top: -1px;
    background-color: rgb(60,60,68);
    padding: 01rem 0 1rem 1rem;
    border-radius:  0 0 4px 4px;
    border: solid 1px rgb(102, 102, 102);
}

.pw-unit {
    font-weight: normal;
}

#pw-inputLength {
    font-size: 1rem;
    height: 1.5rem;
    width: 3.5rem;
    /* font-weight: bold; */
    color: midnightblue;
    text-align: center;
}

.pw-action {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#pw-button {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
    background-color: rgb(224, 224, 209);
    margin-top: 2rem;
    border: solid 2px rgb(138, 138, 138);
    border-radius: 4px;
}

#pw-textField {
    width: 29rem;
    height: 4rem;
    background-color: rgb(16, 31, 100);
    font-size: .9rem;
    text-align: center;
    margin-top: .8rem;
    color: rgb(193, 199, 235);
    border: solid 2px rgb(124, 124, 124);
    border-radius: 4px;
    padding: 0.3rem .7rem 0 .7rem;
    resize: none;
}
