body {
	box-sizing: border-box;
	background-color: #041731;

	.page-pageShark {
		background-image: url("/images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		font-family: Monospace;
		min-width: 34rem;
		height: 92vh;

		.header-substitute {
			height: 3.5rem;
			color: rgb(52, 167, 167);
			font-size: 2rem;
			font-style: italic;
			background-color: rgb(6, 6, 49);
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 80%;
		}

		.sharks {
			display: grid;
			position: absolute;
			margin-top: 7rem;
			grid-template-columns: 4fr 8fr 19fr 8fr 3fr;
			width: 100%;

			img {
				width: 100%;
			}
		}

		.main-substitute {
			display: flex;
			justify-content: center;
			font-family: monospace;

			.inputField {
				width: 18rem;
				background-color: #cccbcb;
				padding: 0.8rem;
				padding-bottom: 0;
				margin-top: 1rem;
				border-radius: 0.3rem;
				position: relative;
				opacity: 90%;
				border: #b4b4b4 solid 2px;

				.firstSpan {
					color: #1515ff;
					font-size: 0.85rem;
				}

				.inputItems {
					color: #252525;
					font-size: 0.75rem;

					.inputElements {
						width: 4rem;
						text-align: right;
					}

					.inputElement-1 {
						margin-top: 1rem;
						margin-bottom: 1rem;
					}

					.inputElement-3 {
						margin-top: 1rem;
					}

					.inputElement-7 {
						margin-bottom: 1rem;
					}

					.inputFieldBottom {
						height: 3.2rem;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 0;

						.button {
							width: 6rem;
							color: rgb(255, 88, 88);
							font-family: "Times New Roman", Times, serif;
							font-weight: bolder;
							font-size: 1.2rem;
						}
					}
				}
			}
		}

		#container {
			display: flex;
			flex-flow: column;
			align-items: center;
			/* opacity: 90%; */

			table {
				font-family: monospace;
				font-size: 0.8rem;
				color: rgb(240, 240, 240);
				background-color: #636335;
				text-align: left;
				border-radius: 0.3rem;
				border-collapse: separate;
			}

			.legend {
				margin: 1.2rem;

				tr {
					&:nth-child(even) {
						background-color: #7c7c52;
					}

					&:nth-child(odd) {
						background-color: #6e6e3d;
					}
				}

				td {
					padding: 0.2rem 0.8rem 0.2rem 0.8rem;
				}
			}

			.data {
				font-family: monospace;
				font-size: 0.75rem;
				color: rgb(230, 230, 230);
				margin-bottom: 3rem;
				background-color: #636363;
				text-align: right;

				.data-tr {
					text-align: center;
				}

				td {
					padding: 0.3rem;
					width: 5.25rem;
					color: rgb(224, 224, 224);
					background-color: #111111;
				}

				.data-titles {
					height: 3.5rem;
					text-align: center;
				}
			}
		}
	}
}